* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
}

.layout {
    display: flex;
}

.sidebar {
    width: 120px;
    background: #eee;
    height: 100vh;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 45px;
}

.menu-side {
    text-decoration: none;
}

.menu-icon {
    font-size: 28px;
    color: #b5b5b5;
    cursor: pointer;
    transition: 0.2s;
}

.menu-icon:hover {
    color: #888;
}

.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    font-size: 40px;
    margin-bottom: 38px;
}

.big-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 40px;
    margin-bottom: 25px;
}

.card-container {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 220px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 33px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card-icon {
    font-size: 30px;
    margin-bottom: 10px;
    color: #8b8b8b;
}

.card-icon i {
    font-size: clamp(28px, 4vw, 40px);
    color: #8b8b8b;
}

.title {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-bottom: 8px;
}

.value {
    font-size: 24px;
    font-weight: bold;
}

.big-empty-box {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.btn-product {
    margin-top: 10px;
    padding: 12px 22px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-product:hover {
    opacity: 0.85;
    color: white;
    background-color: grey;
}
