* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
}

.layout {
    display: flex;
}

.sidebar {
    width: 120px;
    background: #eee;
    height: 100vh;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 45px;
}

.menu-icon {
    font-size: 28px;
    color: #b5b5b5;
    transition: 0.2s;
    cursor: pointer;
}

.menu-icon:hover {
    color: #888;
}

.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    font-size: 40px;
    margin-bottom: 38px;
}


.big-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    width: 100%;         
    max-width: 100%;     
    min-height: 250px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    padding-bottom: 25px;
    color: #444;
    font-size: 16px;
    padding: 15px 10px;
}

tbody td {
    padding: 20px 10px;
    font-size: 16px;
    border-top: 1px solid #eee;
    
}

.action-icon {
    font-size: 18px;
    cursor: pointer;
    margin-right: 12px;
}

.action-icon.edit {
    color: #444;
}

.action-icon.delete {
    color: #d11a1a;
}

.edit-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 300px;
    display: none;
}

.edit-box h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.edit-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.edit-box input {
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.edit-box button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
    color: #fff;
}

.edit-box .btn-save {
    background: black;
}

.edit-box .btn-cancel {
    background: grey;
}
