* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1100px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.illustration {
    width: 50%;
    border-right: 1px solid #cfcfcf;
    padding-right: 40px;
}

.illustration img {
    width: 100%;
}

.login-section {
    width: 50%;
    padding-left: 40px;
}

.login-section h1 {
    margin-bottom: 40px;
    font-size: 40px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    gap: 10px;
}

.input-group .icon {
    font-size: 18px;
    opacity: 0.6;
}

.input-group .icon i {
    font-size: 18px;
    opacity: 0.7;
}

.input-group input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.forgot {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
}

.forgot a {
    color: #555;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #000;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    opacity: 0.8;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    color: #555;
}

.divider span {
    flex: 1;
    height: 1px;
    background: #c0bfbf;
    margin: 0 10px;
}

.social-login {
    display: flex;
    gap: 15px;
}

.social-login button {
    flex: 1;
    padding: 12px;
    border: 1px solid black;
    background: white;
    border-radius: 6px;
    cursor: pointer;
}

.social-login button i {
    margin-right: 8px;
    font-size: 18px;
}

.signup {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.signup a {
    color: #000;
}
